<%= form_for(@listing) do |f| %>
  <div class="row">
    <% if @listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

        <ul>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
      <div class="col s10 offset-s1">
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :address_1, class: 'validate' %>
          <%= f.label :address_1, "Parcel Address" %><br>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="solar" name='land_type'>Solar</option>
            <option value="wind" name='land_type'>Wind</option>
          </select>
      <label>Land Type</label>
        </div>
         <div class="input-field col s4">
          <%= f.text_field :price, value: nil, class: 'validate' %>
          <%= f.label :requested_price %><br>
        </div>
        <div class="input-field col s4">
          <%= f.text_field :acreage, class: 'validate' %>
          <%= f.label :acreage, "Acreage" %><br>
        </div>
      </div>
      <div class="row">
         <div class="input-field col s6">
          <%= f.text_field :name, class: 'validate' %>
          <%= f.label :name %><br>
        </div>
         <div class="input-field col s6">
          <%= f.text_field :mailing_address, class: 'validate' %>
          <%= f.label :mailing_address, "Mailing Address" %><br>
        </div>  
      </div>
      <div class="row">
         <div class="input-field col s6">
          <%= f.text_field :email, class: 'validate' %>
          <%= f.label :email, "Email" %><br>
        </div>
         <div class="input-field col s6">
          <%= f.text_field :phone, class: 'validate' %>
          <%= f.label :phone %><br>
        </div>
      </div>
      <div class="row center">
        <%= f.submit "Submit", class: 'btn waves-effect waves-light light-green darken-2' %>
      </div>
    </div>
  </div>

<% end %>
