<%= render 'layouts/nav' %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col s7">
    <div class="row no-bottom-margin">
      <div class="input-field col s8">
        <input type="text" value="" placeholder="Enter location here..." id='search-city'/>
      </div>
      <div class="input-field col s4">
        <select>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
      </div>
    </div>
    <div class="row no-bottom-margin">
        <p class="col s2">
          <input type="checkbox" id="solar" />
          <label for="solar">Solar</label>
        </p>
        <p class="col s2">
          <input type="checkbox" id="wind" />
          <label for="wind">Wind</label>
        </p>
        <p class="col s2">
          <input type="checkbox" id="water" />
          <label for="water">Water</label>
        </p>
        <p class="col s4 range-field">
          <input type="range" id="acreage" min="0" max="1000" />
        </p>
        <p class="col s2">Acres</p>
    </div>
    <!-- this will be a card -->
    <div class="listings">
      <% @listings.each do |listing| %>
        <div class="card grey lighten-5 z-depth-1 col s6 listing" data-long=<%=listing.longitude%> data-lat=<%=listing.latitude%> data-city=<%="#{listing.address_city.gsub(" ", "")}"%>>
          <div class="row no-bottom-margin">
            <div class="col s4">
              <img src="http://aerialimagingsolution.com/wp-content/uploads/2013/04/research.jpg" alt="ariel image" class=" responsive-img">
              <a class="waves-effect activator waves-light btn center light-green darken-2">Bid</a>
            </div>
            <div class="col s8">
              <div class="row no-bottom-margin">
                <h5 class="col s8 no-bottom-margin grey-text text-darken-2">$<%= listing.price %></h5>
              </div>
              <div class="row no-bottom-margin">
                <p class="col s6 no-bottom-margin">100 acres</p>
                <i class="col s6 material-icons">wb_sunny</i>
              </div>
              <div class="row no-bottom-margin">
                <p class="col s12 no-bottom-margin"><%= "#{listing.address_city}, #{listing.address_state}" %></p>
              </div>
              <div class="row">
                <p class="col s12 no-bottom-margin">Starting bid $20,0000</p>
              </div>
            </div>
          </div>
        <div class="card-reveal">
          <div class="row no-bottom-margin">
            <!-- <div class="col s12 grey-text text-darken-2 no-bottom-margin">Current bid  $<%= listing.price %><i class="material-icons right">close</i></div> -->
            <span class="card-title grey-text text-darken-2 no-bottom-margin">Current bid  $<%= listing.price %><i class="material-icons right">close</i></span>
          </div>
          <div class="row no-bottom-margin">
            <b class="col s3 no-bottom-margin" style="padding-left: 0;">20 bids</b>
            <b class="col s7 no-bottom-margin">Expires May, 28th 2016</b>
            <a class="col s2 no-bottom-margin" href="">Terms</a>
          </div>
          <div class="row no-bottom-margin">
            <div class="input-field col s7 no-bottom-margin" style="padding-left: 0;">
              <input placeholder="Your bid..." id="first_name" type="text" class="validate no-bottom-margin" style="margin-bottom: 0; padding-left: 0;">
            </div>
            <a class="col s4 waves-effect activator waves-light btn modal-trigger light-green darken-2" href="#modal1" style="margin-top: 0.5em;">Place bid</a>
          </div>
        </div>
        </div>
      <% end %>
      <!-- end card -->
    </div>
  </div>
  <div class="col s5">
    <div id='map-wrapper'>
      <div id='map-one' class='map'> </div>
    </div>
  </div>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Your bid has been placed!</h4>
    <p>You'll receive a confirmation email soon.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>