<p id="notice"><%= notice %></p>
<%= link_to 'Post Listing', new_listing_path %>

<h1>Land Listings</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Type</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <!-- this will be a card -->
      <tr>
        <td>
          <p><%= "#{listing.address_1}" %></p>
          <p><%= "#{listing.address_city}, #{listing.address_state}" %></p><p><%= listing.address_zip %></p>
        </td>
        <td><%= listing.land_type %></td>
        <td>$<%= listing.price %></td>
          <td><%= link_to 'See Details', listing %></td>
      </tr>
    <!-- end card -->
    <% end %>
  </tbody>
</table>